**/*FUTURE*
**/*FUTURE*/
**/__pycache__
**/__pycache__/
**/**checkpoint**
**/**checkpoint**/

**/**.ipynb
**inference**.pth
**.log

solutions
pretrained_operators__density_1.0
result/numerical**/**.pth
opPINN_step1__bkw/

_current_workspace__inhomogeneous/